* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
}

.container {
    width: 500px;
    padding: 30px;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    background-color: #003b5b;
    color: white;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media(max-width:768px)
{
    .container
    {
        margin-top: 20px;
    }
}

h4 {
    margin-bottom: 10px;
    font-size: 24px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#submit {
    border: none;
    background-color: orangered;
    color: white;
    width: 200px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#submit:hover {
    background-color: #333333;
}

img {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
}
