* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    background: #525252;
    background: -webkit-linear-gradient(to top, #0073ff, #000000);  
    background: linear-gradient(to top, #0073ff, #000000); 
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    margin: 20px 0;
}

.container {
    width: 100%;
    max-width: 500px;
    padding: 30px;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    background-color: #003b5b;
    color: white;
    line-height: 25px;
}

h4 {
    margin-bottom: 10px;
    font-size: 24px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#submit {
    border: none;
    background-color: orangered;
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#submit:hover {
    background-color: #333333;
}

img {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    h4 {
        font-size: 20px;
    }

    input, select {
        font-size: 16px;
        padding: 8px;
    }

    #submit {
        font-size: 16px;
        padding: 8px;
    }
}
