* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url('https://i.ibb.co/kcxPPSQ/cursor-knife.png'), pointer;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  
body {
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(https://i.ibb.co/MVrs4tP/pc-games.gif);
        background-position: center;
 /*   background: #44A08D; 
background: -webkit-linear-gradient(to right, #093637, #44A08D); 
background: linear-gradient(to right, #093637, #44A08D); 
*/
  }

  .p1
  {
    color: red;
  }

 .p2
  {
    color: rgb(220, 255, 22);

  }


  .p-div
  {
    margin-bottom: 3%;
    margin-top: 2%;
  }

  .event-title
  {
    font-family: Arial;
    font-size: 300%;
    font-weight: bold;
    color: linear-gradient();
  }

.to-home {
    color: yellow;
    margin-top: 3%;
    margin-bottom: 2%;
    cursor: pointer;
    display: flex;
    gap: 50px;
    text-decoration: none; 
}

.to-home a {
    text-decoration: none; 
    color: yellow; 
}

  
  .btn{
    margin-bottom: 15px;
  }
  
  button {
    position: relative;
    background: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    position: relative;
    width: 300px;
    height: 70px;
    margin: 20px;
    transition: 0.2s;
  }
  
  button:hover {
    letter-spacing: 0.2rem;
    padding: 1.1rem 3.1rem;
    background: var(--clr);
    color: var(--clr);
/*    box-shadow: 0 0 35px var(--clr);  chrome h/w acceleration issue aavum*/
    animation: box 3s infinite;
  }
  
  button::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: #272822;
  }
  
  button span {
    position: relative;
    z-index: 1;
  }
  button i {
    position: absolute;
    inset: 0;
    display: block;
  }
  
  button i::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 80%;
    top: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
  }
  
  button:hover i::before {
    width: 15px;
    left: 20%;
    animation: move 3s infinite;
  }
  
  button i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 20%;
    bottom: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
  }
  
  button:hover i::after {
    width: 15px;
    left: 80%;
    animation: move 3s infinite;
  }
  
  @keyframes move {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes box {
    0% {
      box-shadow: #27272c;
    }
    50% {
      box-shadow: 0 0 25px var(--clr);
    }
    100% {
      box-shadow: #27272c;
    }
  }
